* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    border-bottom: 10px  solid purple;
    align-items: center;
    justify-content: start;
}

.logop {
    height: 80px;
}

.basicavanzada {
    border: 1px solid blue;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
    background-color: beige;
    gap: 10px;

}


.logo {
    max-width: 150px;
}

h2 {
    margin: 50px 20px;
}
h3{
    margin: 10px 0px;
    font-size:larger;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    line-height: 1.2;
    gap: 15px;

}


.textinfo {
    max-width: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.descripcion {
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.content {
    border: 2px solid green;
    padding: 20px;
    display: flex;
    margin: 50px;
    justify-content: center;
}

.content .etapa {
    display: flex;
    align-items: center;

}