*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    border: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: start;
}
.logop{
    height: 80px;
}
.logo{
    max-width: 150px;
}
.basicavanzada{
    display: flex;
    justify-content: center;
    margin: 25px;
}

.content {
    padding: 1%;
    display: flex;
    border: 2px solid green;
    justify-content: center;
}

.content .etapa{
    display: flex;
    align-items: center;
    
}
